.modals {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    .modal-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        // height: 400px;
        background: white;
        z-index: 10;
        border-radius: 8px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        color: #333;
        padding: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 24px;
        .header {
        }
        .body {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            width: 100%;
            form {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                .user-input-wrapper {
                    display: flex;
                    flex-direction: column;

                    input {
                        margin-top: 4px;
                        padding: 1rem;
                        width: 100%;
                    }
                }
            }
        }
        .footer {
            display: flex;
            justify-content: flex-end;
            row-gap: 12px;
            column-gap: 12px;
            width: 100%;
            button {
                padding: 0.5rem 1rem;
                border: none;
                outline: none;
                border-radius: 4px;
                cursor: pointer;
            }

            button.primary {
                background-color: #1677ff;
                color: #fff;
            }
        }
    }
}
