@mixin background($url) {
    background: url($url) no-repeat center center/cover;
    filter: blur(2px);
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
}
